.venv
<span class="btn-card-more" data-track="{&amp;quot;event&amp;quot;:&amp;quot;gaTriggerEvent&amp;quot;,&amp;quot;gaEventCategory&amp;quot;:&amp;quot;OrgProduct&amp;quot;,&amp;quot;gaEventAction&amp;quot;:&amp;quot;click&amp;quot;,&amp;quot;gaEventINOUT&amp;quot;:&amp;quot;stay&amp;quot;,&amp;quot;gaEventType&amp;quot;:&amp;quot;BankProductList&amp;quot;,&amp;quot;ProductCategory&amp;quot;:&amp;quot;kreditnyekarty&amp;quot;,&amp;quot;ProductName&amp;quot;:&amp;quot;kreditnaya-karta-180-dnei-dlya-samozanyatih&amp;quot;,&amp;quot;ProductOrg&amp;quot;:&amp;quot;gazprombank&amp;quot;,&amp;quot;gaClickZone&amp;quot;:&amp;quot;InfoButton&amp;quot;,&amp;quot;gaBlockNumber&amp;quot;:&amp;quot;1&amp;quot;,&amp;quot;cClickSource&amp;quot;:&amp;quot;Productdetailed&amp;quot;,&amp;quot;gaPosition&amp;quot;:&amp;quot;17&amp;quot;,&amp;quot;gaPage&amp;quot;:&amp;quot;1&amp;quot;}">  <span>Подробные условия</span>  <svg>    <use xlink:href="/dist/sprite.svg?v=48#arrow-list-ico"></use>  </svg></span>